#cabeza {
  background-color: #a50145;
  color: #fff;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

img {
  background-color: #fff;
  border-radius: 150px;
  width: 100px;
}

h3 {
  text-decoration: overline;
}

.card {
  display: table;
  min-height: 50vh;
}

.card-content {
  display: table-cell;
  vertical-align: middle;
}

.input-field textarea:focus + label {
  color: #a50145 !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #a50145 !important;
  box-shadow: 0 1px 0 0 #a50145 !important;
}

.btn-d {
  margin-top: 25px;
}

.btn-p {
  background: #a50145;
  margin-bottom: 10px;
  width: 100%;
}

.btn-p:hover {
  background: #d90429;
}

.btn-s {
  background: #8d99ae;
  color: #000;
  width: 100%;
}

.btn-s:hover {
  background: #ccc;
}

#clave {
  text-align: center;
}

#pie {
  background-color: #2b2d42;
  color: #fff;
  padding: 20px 0 20px 0;
  text-align: center;
}
